/*header*/

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  background: linear-gradient(to bottom, white 50%, transparent 90%);
}

header h1 {
  font-size: 1.5rem;
}

.color1 {
  color: #4DB6AC;
}
.color2 {
  color: #009688;
}

.logo{
  padding-left: 1rem;
  align-items: center;
  height: 2rem;
  flex-grow: 1;
}

.navigation {
  padding-right:2rem;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 800px) {

  .navigation, .desctop {
    display:none;
  }

  .mobile {
    display: block;
  }

  .logo {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
  }
}
