header {
  position: fixed;
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 4rem;
  top:0;
  display: flex;
  width:100%;
  background: linear-gradient(to bottom, white 50%, transparent 90%);
}

.mobile {
  display: none;
}

.desctop {
  display:inline-block;
}

a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #00796B;
	text-decoration: none;
  margin-left: 1rem;
}

a:hover,
a:focus {
	outline: none;
}

a {
	padding: 0.2rem 0;
}

 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 0.1rem;
	background: rgba(0,121,107,0.1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

a:hover::after,
a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

h1 {
  font-size: 1.5rem;
}

.color1 {
  color: #00796B;
}
.color2 {
  color: #009688;
}

.logo{
  align-items: center;
  height: 2rem;
  flex-grow: 1;
  padding-left: 1rem;
}

.navigation {
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

@media only screen and (max-width: 600px) {

  header {
    padding-top: 0.7rem;
    padding-bottom: 3rem;
    display: flex;
  }

  a {
    margin-left: 0rem;
  }

  .desctop {
    display:none;
  }

  .mobile {
    display: block;
    font-size:1.5rem;
    font-weight: 550;
  }

  .logo {
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  .navigation {
    font-weight: 550;
    padding-right: 0.5rem;
    flex-grow: 1;
    font-size: 1.5rem;
  }
}
