header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  background: linear-gradient(to bottom, white 50%, transparent 90%);
}

nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #00796B;
	text-decoration: none;
}

nav a:hover,
nav a:focus {
	outline: none;
}

a {
	padding: 0.2rem 0;
}

 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 0.1rem;
	background: rgba(0,121,107,0.1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

a:hover::after,
a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


h1 {
  font-size: 1.5rem;
}

.color1 {
  color: #00796B;
}
.color2 {
  color: #009688;
}

.logo{
  padding-left: 1rem;
  align-items: center;
  height: 2rem;
  flex-grow: 1;
}

.navigation {
  padding-right:2rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 800px) {

  .navigation, .desctop {
    display:none;
  }

  .mobile {
    display: block;
    color:gold;
  }

  .logo {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
  }
}
