.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  height: 100%;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 800px) {

 .desctop {
    display:none;
  }

  .mobile {
    display: block;
  }

}
